@import "reveal.css";

:global(.reveal) {
  font-size: 32px;
  font-family: Quicksand, sans-serif;
  font-weight: bold; 
}

:global(.reveal .slides) {
  text-align: left;
}

:global(.reveal h1) {
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 4px solid; 
}

:global(.reveal h2) {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

:global(.reveal ul) {
  margin: 0;
}


